body{
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}


/*
Clases para lineas verticas 
de la pagina
.side-line-r{
    position: fixed;
    margin: 0px;
    padding: 0px;
    left: 0;
    z-index: 100;
    height: 100%;
}

.side-line-l{
    position: fixed;
    margin: 0px;
    padding: 0px;
    right: 0;
    z-index: 100;
    height: 100%;

}*/

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr{
    border: 10px solid rgb(222, 139, 72);
    margin: 0px;
}

h1{
    padding-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Bebas Neue';
    background-color: rgb(3, 9, 36);
    color: rgb(222, 139, 72);
}

a:link{
    text-decoration: none;
}


.navb-opt{
    font-weight: 600;
    color: rgb(224, 163, 113);
}

.card-co{
    color: rgb(222, 139, 72);
    font-weight:700;
    text-decoration: none;
    font-family: 'Bebas Neue';
}

.card-H{
    font-family: 'Bebas Neue';
}

.card-co{
    border:none ;
    padding: 0px;
    background-color: white;
}

.card-co :hover{
    color: #007bff;
}


.citem{
    height: 600px;
}

.cimg{
    height: 100%;
    object-fit: cover;
}


.contenido{
    margin: 40px 250px 40px 250px;
    text-align: justify;
}

.card-t{
    width: 100px;
    padding: 0px;
    object-fit: cover;
}

.card-t-img{
    width: 100%;
    padding: 0px;
    object-fit: cover;
}

.modal-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.mod-tamanio{
    align-self: center;
    right: 50%;
    width: 1000px;
}

.table-titulo{
    font-size: medium;
}

td{
    font-size: small;
}

